<body>
    <div class="container">
        <header class="header">
            <nav class="navigation">
              <li class="navigation__lists">
                <a href="/" class="navigation__link <%= path === '/'? 'active':'' %>"
                  >home</a
                >
              </li>
              <li class="navigation__lists">
                <a
                  href="/add-products"
                  class="navigation__link <%= path === '/add-products'? 'active':'' %>"
                  >add products</a
                >
              </li>
              <li class="navigation__lists">
                <a
                  href="/cart"
                  class="navigation__link <%= path === '/cart'? 'active':'' %>"
                  >cart</a
                >
              </li>
              <li class="navigation__lists">
                <a
                  href="/order"
                  class="navigation__link <%= path === '/order'? 'active':'' %>"
                  >order</a
                >
              </li>
              <li class="navigation__lists">
                <a
                  href="/admin/dashboard"
                  class="navigation__link <%= path === '/admin/product'? 'active':'' %>"
                  >dashboard</a
                >
              </li>
            </nav>
          </header>